<nav class="navbar navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" ng-click='home()' id="customFontSize">
        <span style="color:white">Home</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" id="customFontSize">
        <li class="active">
          <a href="#" ng-click='about()'><span style="color:white">About</span></a>
        </li>

        <li>
          <a href="#" ng-click='login()'><span style="color:white">Login</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>